[submodule "dependencies/HydraCore3"]
	path = dependencies/HydraCore3
	url = https://github.com/Ray-Tracing-Systems/HydraCore3
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
