[submodule "dependencies/HydraCore3"]
	path = dependencies/HydraCore3
	url = https://github.com/Ray-Tracing-Systems/HydraCore3
[submodule "dependencies/imgui"]
    path = dependencies/imgui
    url = https://github.com/ocornut/imgui.git
[submodule "viewer/external/LiteMath"]
    path = viewer/external/LiteMath
    url = https://github.com/msu-graphics-group/LiteMath.git
[submodule "viewer/external/imgui"]
    path = viewer/external/imgui
    url = https://github.com/ocornut/imgui.git
[submodule "viewer/external/step"]
    path = viewer/external/step
    url = https://github.com/RevelcoS/STEP-parser.git
