# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeCache.txt
CMakeFiles/*
Makefile
cmake_install.cmake
render_app

z_out.bmp
z_timings.csv
sdf_auto.*
*.spv

_deps/*
dependencies/*
math_tests
saves/*
scenes/02_sdf_scenes/model.dat
large_scenes/*
